@function color-brightness($color) {
  @return (red($color) * 0.299 + green($color) * 0.587 + blue($color) * 0.114);
}

@mixin generateBackGroundColor($base-color) {
  $darken-1: darken($base-color, 10%);
  $darken-2: darken($base-color, 20%);
  $darken-3: darken($base-color, 30%);
  $darken-4: darken($base-color, 40%);
  $lighten-1: lighten($base-color, 10%);
  $lighten-2: lighten($base-color, 20%);
  $lighten-3: lighten($base-color, 30%);
  $lighten-4: lighten($base-color, 40%);

  .darken-4 {
    background-color: $darken-4;
    .color-box-text {
      color: if(color-brightness($darken-4) > 128, #000, #fff);
    }
  }
  .darken-3 {
    background-color: $darken-3;
    .color-box-text {
      color: if(color-brightness($darken-3) > 128, #000, #fff);
    }
  }
  .darken-2 {
    background-color: $darken-2;
    .color-box-text {
      color: if(color-brightness($darken-2) > 128, #000, #fff);
    }
  }
  .darken-1 {
    background-color: $darken-1;
    .color-box-text {
      color: if(color-brightness($darken-1) > 128, #000, #fff);
    }
  }
  .base-color {
    background-color: $base-color;
    .color-box-text {
      color: if(color-brightness($base-color) > 128, #000, #fff);
    }
  }
  .lighten-1 {
    background-color: $lighten-1;
    .color-box-text {
      color: if(color-brightness($lighten-1) > 128, #000, #fff);
    }
  }
  .lighten-2 {
    background-color: $lighten-2;
    .color-box-text {
      color: if(color-brightness($lighten-2) > 128, #000, #fff);
    }
  }
  .lighten-3 {
    background-color: $lighten-3;
    .color-box-text {
      color: if(color-brightness($lighten-3) > 128, #000, #fff);
    }
  }
  .lighten-4 {
    background-color: $lighten-4;
    .color-box-text {
      color: if(color-brightness($lighten-4) > 128, #000, #fff);
    }
  }
}

.container-row-one,
.container-row-two,
.container-row-three {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}

.container-row-one {
  @include generateBackGroundColor(
    #976bb2
  ); // Llamada al mixin con el color base
}

.container-row-two {
  @include generateBackGroundColor(
    #c134a8
  ); // Llamada al mixin con el color base
}

.container-row-three {
  @include generateBackGroundColor(
    #3498db
  ); // Llamada al mixin con el color base
}

.box {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;

  .color-box-text {
    font-size: 14px;
  }
}

.link {
  a {
    font-size: 30px;
    font-weight: 600;
    font-family: Arial, sans-serif;
  }
  margin-bottom: 10px;
}
