$font-base-color: white;
$red-base-color: #f44336;
$green-base-color: #4caf50;
$blue-base-color: #3f51b5;

@mixin container {
  margin-bottom: 5px;
  display: grid;
  grid-template-columns: repeat(4, 4%) 6% repeat(4, 4%);
  gap: 5px;
}

@mixin darken($bg-color, $percentage, $color: $font-base-color) {
  background: darken($bg-color, $percentage);
  color: $color;
}

@mixin lighten($bg-color, $percentage, $color: $font-base-color) {
  background: lighten($bg-color, $percentage);
  color: $color;
}
